body{
    background: #fafafa;
}

.game{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 100px;
        
}

.player{
    width: 60px;
    height: 60px;
    background-image: url("images/dino.png");
    position: absolute;
    bottom: 0
   
}

.obstacle{
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-image: url("images/cactus.png");
}

.game-over{
    text-align: center;
    color: 666666;
    margin-top: 100px;
    font-family: Arial;
}

@keyframes slideright {
    from{
        background-position: 30000%;
    }
    to{
        background-position: 0;
    }
}

.background{
    position: relative;
    background-image: url("images/background.png");
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
}